/* Main container for image and button */
.resume-container{
    margin: auto;
    width: 100%;
    display: flex;
    position: absolute;
    top: 13vh;
    height: 80vh;
    left: 0;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
}
/* Child of flex box */
.resume-item{
    flex-basis: 80vw;
    margin-top: 10vh;
}
/* main container for image div */
.image-div{
    margin: auto;
    width: 50%;
}
.image {
    display: block;
    max-width:35rem;
    max-height:70rem;
    width: auto;
    height: auto;
}
.image{
    height: 70vh;
}
/* main div for text and button */
.text-info{
    width: 80%;
}
.text{
    font-size: 8rem;
    color: #fff;
    text-align: center;
    margin-left: 0%;    
}
p{
    margin-top: 0px;
    margin-bottom: 1px;
}
.start-button{
    display: inline-block;
    padding: 15px 50px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4B99C0;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* Responsive */
@media screen and (max-width: 110rem) {
    .text{
        font-size: 7rem;
    }
}
@media screen and (max-width: 95rem) {
    .text{
        font-size: 6rem; 
    }
}
@media screen and (max-width: 95rem) {
    .text{
        font-size: 5rem;   
    }
}
@media screen and (max-width: 95rem) {
    .text{
        font-size: 5rem;   
    }
}
@media screen and (max-width: 80rem) {
    .text{
        font-size: 5rem;   
    }
    .image-div{
        margin: auto;
        width: 50%;
    }
    .image{
        height: 50vh;
    }
}
@media screen and (max-width: 68rem) {
    .text{
        font-size: 4.5rem;   
    }
    .start-button{
        font-size: 20px;
    }
}
@media screen and (max-width: 62rem) {
    .text{
        font-size: 5rem;   
    }
    .start-button{
        font-size: 20px;
    }
    .resume-container{
        flex-direction: column-reverse;
        justify-content:space-around;
        align-items:center;
    }
    .image-div{
        margin: auto;
    }
    .image{
        display: none;
        overflow: hidden;

    }
    .text-info{
        width: 100%;
    }
}