.main-contact-container {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    height: 91.9vh;
    margin: auto;
    width: 100%;
    position: absolute;
    top: 10vh;
    height: 80vh;
    left: 0;
}
.main-contact-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.message-container-no{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 20vw;
    height: 5vh;
    background-color: teal;
}