.main-heading-form {
    display: grid;
    grid-template-columns: auto;
    margin-right: 2vw;
    padding-top: 10vh;
    /* background-color: #2196F3; */
    padding: 10px;
    margin-top: 8vh;
}
.main-heading-form-item {
    background-color: #fff;
    /* border: 1px solid purple; */
    padding: 1vh;
}
.column-container {
    display: grid;
    grid-template-columns: 50% 50%;
    /* background-color: yellow; */
}
.column-item {
    padding: 30px;
}
.education-date-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.education-date-item {
    /* margin-right: 4px; */
}
/* Inputs */
.input-container{
    margin:auto;
    width: 100%;
    /* background-color: yellow; */
}
/*  */
.label-default{
    padding-left: 0.15rem;
}
.label-valid{
    padding-left: 0.15rem;
    color: #39DE70;
}
.label-invalid{
    padding-left: 0.15rem;
    color: red;
}
/*  */
input {
	outline: none;
	border: none;
    background-color: #fff;
}
.input-container{
    padding: 10px 15px;
}
.input-area{
    width: 100%;
    border-bottom: 2px solid #d9d9d9;
    border-style:none;
    font-size: 1.5rem;
}  
/* start date  */
/* .input-area-date{
    width: 100%;
    border-bottom: 2px solid #d9d9d9;
    border-style:none;
    font-size: 1.5rem;
    margin-right: 50px;
}   */
/* Bottom line */
.bottom-border-default{
    margin-top: 0px;
    width: 100%;
    height: 0.1rem;
    background: #999;
}
.bottom-border-valid{
    margin-top: 0px;
    width: 100%;
    height: 0.1rem;
    background: #39DE70;
}
.bottom-border-invalid{
    margin-top: 0px;
    width: 100%;
    height: 0.1rem;
    background: red;
}
.button-left {
    border: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background: #4B99C0;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    border-radius: 0.5rem;
    margin-top: 22vh;
}
.button-right {
    border: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background: #4B99C0;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    border-radius: 0.5rem;
    margin-top: 22vh;
}
.right-button{
    margin: auto;
    width: 5rem;
    /* background-color: blue; */
    margin-right: 1px;
}

/* Responsive */
@media screen and (max-width: 68rem) {
    .main-heading-form-container {
        /* display: grid;
        background-color: green; */
        /* grid-template-columns: 80%; */
        /* background-color: red; */
        padding-top: 1vh;
    }
    /* .main-heading-form-item {
        background-color: #fff;
        border: 1px solid purple;
        padding: 1vh;
    } */
    .column-container {
        display: grid;
        grid-template-columns: auto;
        /* background-color: yellow; */
    }
    .education-date-container {
        display: grid;
        grid-template-columns: auto;
    }
    /* .column-item {
        border: 1px solid rgba(131, 223, 101, 0.8);
        padding-right: 20px;
    }
    .education-date-item {
    } */
}
@media screen and (max-width: 68rem) {

}