.main-heading-form {
    display: grid;
    grid-template-columns: auto;
    margin-right: 2vw;
    padding-top: 10vh;
    padding: 10px;
    margin-top: 8vh;
    width: 100%;
}
.main-heading-form-item {
    background-color: #fff;
    padding: 1vh;
}
.column-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.column-item {
    padding: 30px;
}
.education-date-container {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-column-gap: 6%;
}
/* Inputs */
.label-default{
    padding-left: 0.15rem;
}
.label-valid{
    padding-left: 0.15rem;
    color: #39DE70;
}
.label-invalid{
    padding-left: 0.15rem;
    color: red;
}
/*  */
input {
	outline: none;
	border: none;
    background-color: #fff;
}
.input-area{
    width: 100%;
    border-bottom: 2px solid #d9d9d9;
    border-style:none;
    font-size: 1.5rem;
}  
.bottom-border-default{
    margin-top: 0px;
    width: 100%;
    height: 0.1rem;
    background: #999;
}
.bottom-border-valid{
    margin-top: 0px;
    width: 100%;
    height: 0.1rem;
    background: #39DE70;
}
.bottom-border-invalid{
    margin-top: 0px;
    width: 100%;
    height: 0.1rem;
    background: red;
}
/* Buttons */
.button-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.button-left-two{
    border: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background: #4B99C0;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    border-radius: 0.5rem;
}
.button-right {
    border: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background: #4B99C0;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    border-radius: 0.5rem;
}
.right-button{
    margin: auto;
    width: 5rem;
    margin-right: 1px;
}
/* Responsive */
@media screen and (max-width: 68rem) {
    .main-heading-form-container {
        padding-top: 1vh;
    }
    .column-container {
        display: grid;
        grid-template-columns: auto;
    }
    .education-date-container {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 3.7vh;
    }
}