.main-heading-form-container {
    display: grid;
    grid-template-columns: auto;
    /* background-color: #2196F3; */
    padding-top: 10vh;
}
.main-heading-form-item {
    background-color: #fff;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 1vh;
}
.column-container {
    display: grid;
    grid-template-columns: 50% 50%;
    /* background-color: #2196F3; */
}
.column-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
}

@media screen and (max-width: 68rem) {
    .column-container {
        display: grid;
        grid-template-columns: auto;
        /* background-color: #2196F3; */
    }
    .main-heading-form-container {
        /* display: grid;
        grid-template-columns: auto; */
        padding-top: 1vh;
    }
}